<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Sample01</display-name>
    <servlet-name>Sample01</servlet-name>
    <servlet-class>day06.Sample01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample01</servlet-name>
    <url-pattern>/day06/Sample01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sample02</display-name>
    <servlet-name>Sample02</servlet-name>
    <servlet-class>day03.Sample02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample02</servlet-name>
    <url-pattern>/day03/Sample02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sample2</display-name>
    <servlet-name>Sample2</servlet-name>
    <servlet-class>day06.Sample02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample2</servlet-name>
    <url-pattern>/day06/Sample2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalenderAccess</display-name>
    <servlet-name>CalenderAccess</servlet-name>
    <servlet-class>day07.CalenderAccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalenderAccess</servlet-name>
    <url-pattern>/day07/CalenderAccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalendarAccess2</display-name>
    <servlet-name>CalendarAccess2</servlet-name>
    <servlet-class>day07.CalendarAccess2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarAccess2</servlet-name>
    <url-pattern>/day07/CalendarAccess2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalSankouAcc</display-name>
    <servlet-name>CalSankouAcc</servlet-name>
    <servlet-class>day07.CalSankouAcc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalSankouAcc</servlet-name>
    <url-pattern>/CalSankouAcc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Keiziban</display-name>
    <servlet-name>Keiziban</servlet-name>
    <servlet-class>hitokoto.Keiziban</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Keiziban</servlet-name>
    <url-pattern>/Keiziban</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hitokoto</display-name>
    <servlet-name>Hitokoto</servlet-name>
    <servlet-class>keizibanapp.Hitokoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hitokoto</servlet-name>
    <url-pattern>/Hitokoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sample61</display-name>
    <servlet-name>Sample61</servlet-name>
    <servlet-class>week06.Sample2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample61</servlet-name>
    <url-pattern>/week6/Sample61</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Atm</display-name>
    <servlet-name>Atm</servlet-name>
    <servlet-class>era.Atm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Atm</servlet-name>
    <url-pattern>/era/Atm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cat</display-name>
    <servlet-name>Cat</servlet-name>
    <servlet-class>test.Cat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cat</servlet-name>
    <url-pattern>/test/Cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test7Access</display-name>
    <servlet-name>Test7Access</servlet-name>
    <servlet-class>test7.Test7Access</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test7Access</servlet-name>
    <url-pattern>/test7/Test7Access</url-pattern>
  </servlet-mapping>
</web-app>